/* color */
:root{
    --bs-greenIcon:#84BA40;
    --bs-bleuAction:#6eb2e3;
    --bs-black:#000000;
    --bs-blackMiddle:rgba(0, 0, 0, 0.555);
    --bs-blachMiddleHot:rgba(0, 0, 0, 0.3);
    --bs-white:#ffffff;
    --bs-greyMiddleBas:rgba(255, 255, 255, 0.712);
    --bs-greyMiddle:rgba(255, 255, 255, 0.5);
    --bs-greyMiddleHot:rgba(255, 255, 255, 0.3);
}
/* general */
body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#bodyNav{
    display: none;
}
/* nav {
    width: 100%;
    height: 10vh;
     background: brown; 
    display: flex;
    align-items: center;
}   */
/* nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
} */
/* nav ul li{
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
} */

/* PARTIE HEADER */
#header{
    width: 100vw;
    min-height: 100vh;
}
#headerTop{
    width: 100%;
    height: 2.62rem;
    background: var(--bs-bleuAction);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoMairie{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
} 
.circleMeteo{
    width: 200px;
    height: 21px;
    border-radius: 50px;
    background: var(--bs-white);
}
i.fa-magnifying-glass{
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 4px;
}
div.menu{
    color: var(--bs-white);
    font-size: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.menu >i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.research{
    display: none;
}
/* part header bottom */
#headerBottom{
    width:100% ;
    display: flex;
}
#headerBottom>.boxHeaderBottom>img{
    width: 100vw;
    height: 90vh;
    position: relative;
    object-fit: cover;
    padding: 0 40px 0 40px;
} 
.boxHeaderBottom{
    width: 100%;
    display: flex;
    justify-content: end;
}
.boxHeaderBottom>.titleCornod{
    font-size: 4.5rem;
    width: 30%;
    font-family: 'Encode-Sans-Condended', serif;
    position: absolute;
    z-index: 1;
    color: var(--bs-white);
    margin-top: 10px;
}
/* box Actu Express */
.boxClicExpress{
    width: 400px;
    height: 235px;
    position:absolute;
    content: "";
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75); 
    bottom: 80px;
    left: 120px;
    text-align: center;
    border-radius: 22px;
    font-family: 'Rubik', sans-serif;  
}
.buttonClicExpress{
    border: none;
    border-radius: 50px;
    background: var(--bs-white);
    width: 30%;
    height: 28px;
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.buttonClicExpress:hover{
    background: var(--bs-bleuAction);
    color: var(--bs-white);
    font-weight: 600;
}
.boxClicExpress>.titleClicExpress{
    font-size: 1.5rem;
}
.boxClicExpress>.dateClicExpress{
    font-size: 0.875rem;
    font-weight: 100;
}
.boxClicExpress>.descClicExpress{
    font-size: 1rem;
}
i.fa-chevron-right, i.fa-chevron-left{
    padding: 0 35px;
    font-size: 25px;
}
/* title En un clic */
#boxUnderHearderClic{
    width: 30%;
    margin-left: 40px;
}
#boxUnderHearderClic>.underTitleHeader, #boxUnderHearderClic>.underTitleClic{
    font-size:1.5rem;
    font-family: 'Rubik', sans-serif;
    color: var(--bs-black);
}
#boxUnderHearderClic>.underTitleClic{
    font-weight: 100;
    margin-top: -25px;
    color: var(--bs-black);   
}
#boxUnderHearderClic>.underTitleClic::before{
    position: absolute;
    content: "";
    background: rgba(132, 186, 64, 0.3); 
    width: 20%;
    height: 30px;
    color: var(--bs-black);
    left: 40px;
} 
/* part En un Clic  */
#boxUnClic{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}
#boxClicTablet1,#boxClicTablet2{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#contenairClic1, #contenairClic2,#contenairClic3, #contenairClic4{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cercleAssos, .cercleNum, .cercleGarde, .cercleEglise,.cercleLocation,.cercleCompte, .cercleDroits, .cercleGestion {
    width: 90px;
    height: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: 1px solid var(--bs-blachMiddleHot);
    background: var(--bs-white);
    position: relative;
}
.fa-people-group, .fa-square-phone, .fa-church,.fa-building-columns,.fa-scale-balanced,.fa-trash-can,.fa-key,.fa-staff-snake,.fa-user-doctor{
   font-size: 40px;
   color: #84BA40; 
}
.assos, .numero, .pharmGarde, .church,.location, .compte, .droits, .gestion{
    font-family: 'Rubik', sans-serif;
    font-size: 0.875rem;
    text-align: center;
}
.assos::before,.numero::before,.pharmGarde::before, .church::before, .location::before,.compte::before,.droits::before,.gestion::before{
    width: 50px;
    height: 4px;
    background-color: #84BA40;
    position: absolute;
    content: "";
    bottom: -30px;
    right: 20px;
    border-radius: 10px;
}
/* .groupGarde{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
} */
.gestion, .droits, .compte,.pharmGarde,.numero, .location, .assos, .church{
    width: 230px;
    margin-bottom: -63px;
    padding: 18px 0;
}
/* fin header */

/* section bienvenue sur votre commune */
#mainCommune{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#boxTitleCommune{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
    margin-top: 40px;
} 
#boxTitleCommune::before{
    width: 310px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 35px;
    top: 26px;
}
#boxTitleCommune>.titleCommune, .titleCom{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleCommune{
    padding-left:10px;
}
.titleCom{
    padding-left: 70px;
    margin-top: 45px;
    display: flex;
    position: absolute;
}
/* part group Img */
#boxImgCornod{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10px;
}
#boxImgCornod>.imgCornod{
    width: 100%;
    height: auto;
    position: relative;
}
#boxImgCornod::before{
    position: absolute;
    content: "Cornod";
    width: 95%;
    height: 30px;
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6);
    z-index: 2222;
    margin-top: -2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraphCommune{
    width: 100%;
    margin-top: 10px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.813rem;
    line-height: 1rem;
    padding: 5px 10px;
}
.boxBtnVoirPlus{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    margin-top: -20px;
}
.btnVoirPlus{
    width: 90px;
    height: 30PX;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* part group1 imgage commune */
#contenairGroup1{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
#contenairGroup1>.groupImgHameau{
    width: 100%;
    display: flex;
    gap: 3px;
}
.groupImgHameau{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.groupImgHameau>.imgSanthonnax, .groupImgHameau>.imgTurgon{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
#boxImgChateau > .imgChateau {
    width: 100%;
    height: 40vh;
    padding: 5px 0;
    object-fit: cover;
}
/* part group 2 image commune */
#contenairGroup2{
    width: 100%;
    min-height: 50vh;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 10px;
}
#contenairGroup2>.groupParaHameau{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#contenairGroup2>.imgVillette{
    width: 100%;
    object-fit: cover;
    height: 25vh;
    position: relative;
    padding: 5px 0px;
}
.imgVillette::before{
    position: absolute;
    content: "Villette";
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6);
    z-index: 33333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenairGroup2>.groupParaHameau>.paraBoxGroupImg2{
    width: 100%;
    padding: 0 5px;
    font-size: 0.813rem;
    text-align: justify;
}
#contenairGroup2>.groupParaHameau>.imgThoregna{
    width: 100%;
    object-fit: cover;
    height: 25vh;
    padding: 0 5px
}
#boxGroupImg>#contenairGroup2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
#contenairGroup2>.paraBoxGroupImg{
    width: 90%;
    margin-left: 10px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: 'Metrophobic', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
#contenairGroup2>.btnBoxGroupImg{
    width: 90px;
    height: 26px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    background: var(--bs-white);
    color: var(--bs-black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: -12px;
    margin-left: 80px;
    margin-bottom: 23px;
    padding: 3px;
}
#boxImgChateau{
    width: 100%;
    height:auto;
    position: relative;
}
/* .imgChateau::before{
    position: absolute;
    content: "Château de Cornod";
    width: 95%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6); 
    margin-top: 55px; 
    margin-left: 10px;
    z-index: 4444444444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* PART VOTRE MAIRIE */
#mainMairie{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
#boxTitleMairie{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleMairie::before{
    width: 325px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 20px;
    top: 36px;
}
#boxTitleMairie>.titleMairie, .titleMair{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleMairie{
    padding-left:10px;
}
.titleMair{
    /* width: unset !important; */
    padding-left: 30px;
    margin-top: 39px;
    display: flex;
}
#boxMairie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#boxImgMairie{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
}
#boxImgMairie>.imgMairie{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#boxParaMairie{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:  25px;
}
.paraMairie{
    width: 100%;
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.125rem;
}
.imgMapMairie{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
/* PART TIME AND CONTACT */
#contenairGroupHoraire, #contenairGroupContact{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
#boxHoraireMairie, #boxContactMairie{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    justify-content: space-evenly;
}
.horaireTitle,.contactTitle{
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    font-size:1.25rem;
    text-align: center;
    margin-top: 5px;
}
.horaireTitle, .contactTitle{ 
    width: 80%;
}
i.fa-clock,i.fa-address-card{
    padding-right: 5px;
}
.paraHoraire,.paraContact{
    width: 100%;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size:0.813rem;
    color:var(--bs-black);
}
.paraHor1, .paraCont1{
    padding-left: 20px;
    padding-top:35px;
    font-weight: 300;
}
.paraHor2,.paraHor3, .paraHor4,.paraHor5{
    padding-left: 20px;
}
.paraHor2,.paraHor3, .paraHor4,.paraHor5{
    font-size: 1rem;
    margin-top: 10px;
}
.paraHor20,.paraHor30,.paraHor40,.paraHor50{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 300;
}
.paraAdress,.paraTel, .paraMail, .paraCont2{
    margin-left: 15px;
    /* font-size: 0.813rem; */
    font-weight: 300;
}
.paraCont1{
    margin-left: 5px;
}
.paraCont2{
    width: 80%;
    margin-bottom: 15px;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}
#boxContactAdress,#boxContactTel,#boxContactMail{
    width: 100%;
    height: 5vh;
    display: flex;   
    justify-content:flex-start;
    align-items: center;
}
i.fa-phone-volume,i.fa-envelopes-bulk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--bs-black);
    background: var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left: 25px;
}
i.fa-phone-volume{
    width: 30px;
    height: 30px;}
i.fa-envelopes-bulk{
    width: 38px;
    height: 30px;
}
.paraAdress{
    width: 40%;
}
.iconAdress{
    width: 40px;
    height: 40px;
    margin: 13px 0 0 20px;
    margin-left: 20px;
}
.paraMail{
    text-decoration:none;
}
#boxBtnContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnContact{
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.688rem;
    font-weight: 500;
    border:2px solid var(--bs-white);
    color: var(--bs-black);
    background:var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;   
}

/* SECTION ACTUS */
#boxTitleActualite{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
    margin-top: 30px;
}
#boxTitleActualite::before{
    width: 325px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 20px;
    top: 36px;
}
#boxTitleActualite>.titleActualite, .titleActu{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleActualite{
    padding-left:10px;
}
.titleActu{
    /* width: unset !important; */
    padding-left: 30px;
    margin-top: 39px;
    display: flex;
}
/* PARTIE NEWSLETTERS */
#boxNewsletters{
    width: 100%;
    height: 20vh;
    padding: 0 10px;
}
.contenairNewsletters{
    width: 100%;
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0 50%);  
    background: #0D76AF;
    border-radius: 10px;
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.titleNewsletters{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 5px;
    display: flex;
}
.fa-paper-plane{
    margin-top: 30px;
    padding: 5px;
}
.paraNewsletters{
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.66rem;
    margin-left: 40px;
    margin-top: 35px;
}
.btnNewsletters{
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    color: var(--bs-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: var(--bs-white);
    margin-left: 40px;
    margin-top: 15px;
}
#boxTitleALaUne{
    width: 100vw;
    height: 15vh;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleALaUne::before{
    width: 250px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    content: "";
    left: 30px;
    top: 36px;
    margin-left: 75px;
}
#boxTitleALaUne>.titleALaUne, .titleUne{
    width: 100%; font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    display: flex;
    justify-content: flex-end;
    margin-left: -20px;
}
.titleALaUne{
    font-size: 1.25rem;
}
.titleUne{
    margin-top: 48px;
    font-weight: 300;
}
/* Part boxActuCommune */
#boxActuCommune{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0px;
}
#boxActuCommune>.imgActuCommune{
    width: 100%;
    padding: 0px 10px;
    height: 25vh;
    position: relative;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
}
#boxActuCommune::before{
    position: absolute;
    content: "ACTU DE LA COMMUNE";
    width: 95%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color:var(--bs-white);
    background: rgba(217, 217, 217, 0.5);
    z-index: 2222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* part boxActu 1 */
#boxActuCom1, #boxActuCom2{
    width: 100%;
    min-height: 20VH;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px;
}
#contenairActuCom1>.imgActuCom1,#contenairActuCom2>.imgActuCom2{ 
    position: relative;
    width: 100%;
    height: 25vh;   
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 0;
}
#boxActuCom1::before,#boxActuCom2::before{
    position: absolute;
    content: "Plus d'info";
    width: 94%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.813rem;
    font-weight: 300;
    color:var(--bs-black);
    background:var(--bs-white);
    z-index: 2222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bs-bleuAction);
}
#contenairActuCom1, #contenairActuCom2{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.titleActuCom1, .titleActuCom2{
    position: absolute;
    width: 84%;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-white);
    font-size: 1.25rem;
    text-align: center;
}
.timeActuCom1, .timeActuCom2{
    width: 58px;
    height: 182px;
    background: #0D76AF;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 17px;
}
/* PART TITLE Actu ASSOS */
#boxActuAssos{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}
.contenairActuAssosStart, .contenairActuAssosEnd{
    width: 100%;
    height: 300px;
    background: rgb(132, 186, 64);
}
.contenairActuAssosStart{
    clip-path: polygon(0 0, 0 35%, 100% 0);
}
.contenairActuAssosEnd{
    clip-path: polygon(0 100%, 100% 65%, 100% 100%);
    margin-top: 35px;
}
.contenairActuAssosEnd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenairActuAssosStart>.titleAssosStart{
    color: var(--bs-white);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
 .contenairActuAssosEnd>.titleAssosEnd {
    color: #000000;
    margin-top: 280px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
} 
.btnActuAssos{
    border: 2px solid var(--bs-black);
    z-index: 5555555555;
}
/* PART ACTU ASSOS */
#contenairAssos{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxAssociation{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    margin-top: 40px;    
}
.boxAssos1>.imgAssos1,.boxAssos2>.imgAssos2,.boxAssos3>.imgAssos3{
    object-fit: cover;
    padding: 10px 0;
    width: 110px;
    height: 130px;
}
.boxAssos1>.titleAssos1,.boxAssos2>.titleAssos2,.boxAssos3>.titleAssos3{
    color: var(--bs-black);
    width: 50%;
    display: flex;
    justify-content:end;
}
.boxAssos1>.paraAssos1,.boxAssos2>.paraAssos2,.boxAssos3>.paraAssos3{
    width: 50%;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 0.875rem;
    font-family: 'Metrophobic', sans-serif;
    cursor: pointer;
}
.boxAssos1>.dateAssos1,.boxAssos2>.dateAssos2,.boxAssos3>.dateAssos3{
    width: 14%;
    display: flex;
    flex-direction: row;
    background: rgb(132, 186, 64);
    font-family: 'Metrophobic', sans-serif;
    justify-content: center;
    padding: 20px 22px;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
}
/* PART TITLE ACTU AGENDA */
#boxTitleAgenda{
    width: 100vw;
    height: 15vh;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleAgenda::before{
    width: 313px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    content: "";
    left: -33px;
    top: 36px;
    margin-left: 75px;
}
#boxTitleAgenda>.titleAgenda, .titleManquer{
    width: 100%; font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    display: flex;
    justify-content: flex-end;
    margin-left: -20px;
}
.titleAgenda{
    font-size: 1.25rem;
}
.titleManquer{
    margin-top: 48px;
    font-weight: 300;
}
/* PART ACTU AGENDA */
#boxActuAgenda{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.contenairAgenda1,.contenairAgenda2,.contenairAgenda3{
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
}
.contenairAgenda1{
    width: 100%;
    display: flex;
    padding: 20px 0;
}
.contenairAgenda2, .contenairAgenda3{
    width: 100%;
    display: flex;
    justify-content:space-between;    align-items: flex-end;
    padding: 20px 0px;
}
.imgAgenda1{
    width: 235px;
    height: 180px;
    object-fit: cover;
}
.agenda1>.dateAgenda1{
    width: 130px;
    height: 180px;
    background:#0D76AF;
    text-align: center;
    padding: 70px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px;
    cursor: pointer;
}
.agenda1>.dateAgenda1:hover{
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-bleuAction);
    font-weight: 300;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 800;}
.imgAgenda2,.imgAgenda3{
    width:175px;
    height: 133px;
    object-fit: cover;
}
.boxAgenda2,.boxAgenda3{
    width: 75%;
    height: 20vh;
    display: flex;
}
.boxAgenda2>.dateAgenda2,.boxAgenda3>.dateAgenda3{
    width: 55px;
    height: 125px;
    background:#0D76AF;
    text-align: center;
    border-radius: 0px;
    display: flex;
    padding: 25px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px;
}
.boxTitleAgenda2,.boxTitleAgenda3{
    width: 50%;
    height: 100%;
    /* background: #84BA40; */
    display: flex;
    justify-content: center;
}
.boxTitleAgenda2>.paraAgenda2,.boxTitleAgenda3> .paraAgenda3{
    color: var(--bs-black);
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.875rem;
    width: 30%;
    text-align: end;
    font-weight: 300;
}
.boxTitleAgenda2>.btnAgenda2,.boxTitleAgenda3>.btnAgenda3{
    width: 107px;
    height: 30px;
    background: rgba(13, 118, 175, 1);
    border: none;
    border-radius: 50px;
    color:var(--bs-white);
    font-weight: 600;
    margin-top: 100px;
    cursor: pointer;
}
.boxTitleAgenda2>.btnAgenda2:hover,.boxTitleAgenda3>.btnAgenda3:hover{
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-bleuAction);
    font-weight: 300;
}
/* PART TITLE END SECTION ACTU */
#boxTousActuAgenda{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#boxTousActuAgenda>.contenairTousActu{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#boxTousActuAgenda>.contenairTousAgenda{
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 48px;
    margin-top: -10px;
}
.titleTousActu,.titleTousAgenda{
    font-size: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
} 
.titleTousActu{
    padding: 0 60px; 
    font-weight: 300;
}
.titleTousAgenda{
   font-weight: 800;
   position: relative;
}
.titleTousAgenda::before{
    position: absolute;
    content: "";
    width: 256px;
    height: 2px;
    background:#0D76AF;
    top:25px;
    left:-50px;
}
.fa-calendar-days{
    font-size: 30px;
    color: #0d76af;
    position: relative;
}
.fa-calendar-days::before{
    position:absolute;
    content: "";
    border-radius: 50px;
    background: var(--bs-white);
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    text-align: center;
    margin: auto;
    transform: translate(0%,-50%);
    top:7px;
    left: 3px;
    background: var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}







/* footer */
/* part FOOTER */
#footer{
    width: 100vw;
    min-height: 30vh;
    background:#84ba40ab;
}
#groupFooterTop{
    width: 100%;
    display: flex;
    padding: 20px 10px;
    gap: 5px;
    font-family: 'Rubik', sans-serif;
}
/* part footer Logo */
#groupFooterTop>.footerLogoCornod{
    width: 25vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
#groupFooterTop>.footerLogoCornod>.logoCornod{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* part footer contact Mairie */
#groupFooterTop>.footerContactMairie, #groupFooterTop>.footerHoraireMairie{
    width: 35%;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#groupFooterTop>.footerContactMairie>.titleFooterContact, #groupFooterTop>.footerHoraireMairie>.titleFooterHoraire{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--bs-black);
    font-size: 1.2rem;
    font-weight: 600;
}
#groupFooterTop>.footerContactMairie>.adressFooterContact{
    width: 30%;
    font-size: 0.875rem;
}
#groupFooterTop>.footerContactMairie>.boxTelFooter{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
#groupFooterTop>.footerContactMairie>.telFooterContact{
    height: 25px;
    font-size: 1rem;
}
i.fa-phone-volume, i.footerMail{
    width: 40px;
    height: 40px;
    color: var(--bs-greenIcon);
    cursor: pointer;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

}
i.fa-phone-volume:hover, i.footerMail:hover{
    background-color: var(--bs-greenIcon);
    color: var(--bs-white);
    transition: 0.1ms;
}
i.fa-phone-volume{
    margin-bottom: 5px;
}
i.footerMail{
    margin-top: -15px;
}
/* part footer Horaire */
.contenairHoraire>.dayWeek{
    font-size: 0.875rem;
}
#groupFooterTop>.footerHoraireMairie>.boxMailFooter{
    height: 25%;
    display: flex;
    align-items: center;
    gap: 10px;  
} 
.footerHoraireMairie>.boxMailFooter>.mailFooterHoraire{
    margin-top: -15px;
    text-decoration: none;
    color: var(--bs-black);
    font-size: 1rem;
}
/* icon to up page */
#groupFooterTop>.boxReturnUp{
    width: 10vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
}
/* icon to up page */
.iconBackToTop{
    /* width: 35px;
    height: 35px; */
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 9px 11px;
}
.iconBackToTop:hover{
    background: #84BA40;
    transition: 0.1ms;
}
.fa-arrow-up{
    color: #84BA40;
}
.fa-arrow-up:hover{
    color: var(--bs-white);
    transition: 0.1ms;
}
/* part footer buttom */
#footerBottom{
    width: 100%;
    min-height: 5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bs-white);
    font-family: 'Rubik', sans-serif;
}
#footerBottom>.footerMentions,
#footerBottom>.footerPolitique,#footerBottom>.footerCopyright{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--bs-black);
}
#footerBottom>.footerMentions{
    width: 25%;
}
#footerBottom>.footerCopyright{
    width: 25%;
    font-size: 0.875rem;
    font-weight: 600;
}
#footerBottom>.footerDesign{ 
    width: 32%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--bs-black);
}
#footerBottom>.footerDesign,#footerBottom>.footerMentions,#footerBottom>.footerPolitique{
    border-right-style: dashed;
    border-color: #84BA40;
    height: 30px;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.fa-heart, 
.fa-copyright{
    color: #84BA40;
    padding: 2px 10px;
}
.footerSpan{
    display: block;
}
@media screen and (max-width:1024px){ 
/* part Footer Contact media query 1024px*/
#groupFooterTop{
    min-height: 34vh;
}
#groupFooterTop>.footerLogoCornod{
    height: 20vh;
}
.footerLogoCornod>.logoCornod{
    width: 105px;
    height: 105px;
} 
/* contenair footer contact Mairie */
 #groupFooterTop>.footerContactMairie{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#groupFooterTop>.footerContactMairie>.adressFooterContact{
    width: 65%;
    font-size: 0.875rem;
}
i.fa-phone-volume{
    margin-left: 15px;
}
i.fa-phone-volume:hover, i.footerMail:hover{
    background-color: var(--bs-greenIcon);
    color: var(--bs-white);
    transition: 0.1ms;
}
#groupFooterTop>.footerHoraireMairie{
    width: 50%;  
} 
/* contenair footer horaire Mairie */
.contenairHoraire{
    width: 87%;
}
#groupFooterTop>.footerContactMairie>.boxTelFooter,#groupFooterTop > .footerHoraireMairie > .boxMailFooter{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#groupFooterTop>.footerContactMairie>.boxTelFooter{
  height: 42%;
}  
#groupFooterTop > .footerHoraireMairie > .boxMailFooter {
    height: 38%;
}
/* .adressFooterContact{
    width: 61%;
    text-align: start;
    margin-bottom: 70px;
} */
 #footerBottom>.footerMentions,
#footerBottom>.footerPolitique,#footerBottom>.footerCopyright,#footerBottom>.footerDesign{
    font-size: 0.875rem;
    font-weight: 600;
}
.footerSpan {
    display: block;
    font-size: 0.75rem;
    font-weight: 100;
}
}
@media screen and (max-width:375px){ 
/* section bienvenue sur votre commune */
#mainCommune{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#boxTitleCommune{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
    margin-top: 40px;
} 
#boxTitleCommune::before{
    width: 310px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 35px;
    top: 26px;
}
#boxTitleCommune>.titleCommune, .titleCom{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleCommune{
    padding-left:10px;
}
.titleCom{
    padding-left: 70px;
    margin-top: 45px;
    display: flex;
    position: absolute;
}
/* part group Img */
#boxImgCornod{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10px;
}
#boxImgCornod>.imgCornod{
    width: 100%;
    height: auto;
    position: relative;
}
#boxImgCornod::before{
    position: absolute;
    content: "Cornod";
    width: 95%;
    height: 30px;
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6);
    z-index: 2222;
    margin-top: -2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraphCommune{
    width: 100%;
    margin-top: 10px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.813rem;
    line-height: 1rem;
    padding: 5px 10px;
}
.boxBtnVoirPlus{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    margin-top: -20px;
}
.btnVoirPlus{
    width: 90px;
    height: 30PX;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* part group1 imgage commune */
#contenairGroup1{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
#contenairGroup1>.groupImgHameau{
    width: 100%;
    display: flex;
    gap: 3px;
}
.groupImgHameau{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.groupImgHameau>.imgSanthonnax, .groupImgHameau>.imgTurgon{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
#boxImgChateau > .imgChateau {
    width: 100%;
    height: 40vh;
    padding: 5px 0;
    object-fit: cover;
}
/* part group 2 image commune */
#contenairGroup2{
    width: 100%;
    min-height: 50vh;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 10px;
}
#contenairGroup2>.groupParaHameau{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#contenairGroup2>.imgVillette{
    width: 100%;
    object-fit: cover;
    height: 25vh;
    position: relative;
    padding: 5px 0px;
}
.imgVillette::before{
    position: absolute;
    content: "Villette";
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6);
    z-index: 33333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenairGroup2>.groupParaHameau>.paraBoxGroupImg2{
    width: 100%;
    padding: 0 5px;
    font-size: 0.813rem;
    text-align: justify;
}
#contenairGroup2>.groupParaHameau>.imgThoregna{
    width: 100%;
    object-fit: cover;
    height: 25vh;
    padding: 0 5px
}
#boxGroupImg>#contenairGroup2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
#contenairGroup2>.paraBoxGroupImg{
    width: 90%;
    margin-left: 10px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: 'Metrophobic', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
#contenairGroup2>.btnBoxGroupImg{
    width: 90px;
    height: 26px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    background: var(--bs-white);
    color: var(--bs-black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: -12px;
    margin-left: 80px;
    margin-bottom: 23px;
    padding: 3px;
}
#boxImgChateau{
    width: 100%;
    height:auto;
    position: relative;
}
/* .imgChateau::before{
    position: absolute;
    content: "Château de Cornod";
    width: 95%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-black);
    background: rgba(217, 217, 217, 0.6); 
    margin-top: 55px; 
    margin-left: 10px;
    z-index: 4444444444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* PART VOTRE MAIRIE */
#mainMairie{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
#boxTitleMairie{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleMairie::before{
    width: 325px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 20px;
    top: 36px;
}
#boxTitleMairie>.titleMairie, .titleMair{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleMairie{
    padding-left:10px;
}
.titleMair{
    /* width: unset !important; */
    padding-left: 30px;
    margin-top: 39px;
    display: flex;
}
#boxMairie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#boxImgMairie{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
}
#boxImgMairie>.imgMairie{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#boxParaMairie{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:  25px;
}
.paraMairie{
    width: 100%;
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.125rem;
}
.imgMapMairie{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
/* PART TIME AND CONTACT */
#contenairGroupHoraire, #contenairGroupContact{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
#boxHoraireMairie, #boxContactMairie{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    justify-content: space-evenly;
}
.horaireTitle,.contactTitle{
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    font-size:1.25rem;
    text-align: center;
    margin-top: 5px;
}
.horaireTitle, .contactTitle{ 
    width: 80%;
}
i.fa-clock,i.fa-address-card{
    padding-right: 5px;
}
.paraHoraire,.paraContact{
    width: 100%;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size:0.813rem;
    color:var(--bs-black);
}
.paraHor1, .paraCont1{
    padding-left: 20px;
    padding-top:35px;
    font-weight: 300;
}
.paraHor2,.paraHor3, .paraHor4,.paraHor5{
    padding-left: 20px;
}
.paraHor2,.paraHor3, .paraHor4,.paraHor5{
    font-size: 1rem;
    margin-top: 10px;
}
.paraHor20,.paraHor30,.paraHor40,.paraHor50{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 300;
}
.paraAdress,.paraTel, .paraMail, .paraCont2{
    margin-left: 15px;
    /* font-size: 0.813rem; */
    font-weight: 300;
}
.paraCont1{
    margin-left: 5px;
}
.paraCont2{
    width: 80%;
    margin-bottom: 15px;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}
#boxContactAdress,#boxContactTel,#boxContactMail{
    width: 100%;
    height: 5vh;
    display: flex;   
    justify-content:flex-start;
    align-items: center;
}
i.fa-phone-volume,i.fa-envelopes-bulk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--bs-black);
    background: var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left: 25px;
}
i.fa-phone-volume{
    width: 30px;
    height: 30px;}
i.fa-envelopes-bulk{
    width: 38px;
    height: 30px;
}
.paraAdress{
    width: 40%;
}
.iconAdress{
    width: 40px;
    height: 40px;
    margin: 13px 0 0 20px;
    margin-left: 20px;
}
.paraMail{
    text-decoration:none;
}
#boxBtnContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnContact{
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.688rem;
    font-weight: 500;
    border:2px solid var(--bs-white);
    color: var(--bs-black);
    background:var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;   
}


/* SECTION ACTUS */
#boxTitleActualite{
    width: 100vw;
    display: flex;
    position:relative;
    height: 12vh;
    margin-top: 30px;
}
#boxTitleActualite::before{
    width: 325px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: center; 
    position: absolute;
    content: "";
    left: 20px;
    top: 36px;
}
#boxTitleActualite>.titleActualite, .titleActu{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--bs-black);
}
.titleActualite{
    padding-left:10px;
}
.titleActu{
    /* width: unset !important; */
    padding-left: 30px;
    margin-top: 39px;
    display: flex;
}
/* PARTIE NEWSLETTERS */
#boxNewsletters{
    width: 100%;
    height: 20vh;
    padding: 0 10px;
}
.contenairNewsletters{
    width: 100%;
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0 50%);  
    background: #0D76AF;
    border-radius: 10px;
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.titleNewsletters{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 5px;
    display: flex;
}
.fa-paper-plane{
    margin-top: 30px;
    padding: 5px;
}
.paraNewsletters{
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.66rem;
    margin-left: 40px;
    margin-top: 35px;
}
.btnNewsletters{
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.75rem;
    color: var(--bs-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: var(--bs-white);
    margin-left: 40px;
    margin-top: 15px;
}
#boxTitleALaUne{
    width: 100vw;
    height: 15vh;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleALaUne::before{
    width: 250px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    content: "";
    left: 30px;
    top: 36px;
    margin-left: 75px;
}
#boxTitleALaUne>.titleALaUne, .titleUne{
    width: 100%; font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    display: flex;
    justify-content: flex-end;
    margin-left: -20px;
}
.titleALaUne{
    font-size: 1.25rem;
}
.titleUne{
    margin-top: 48px;
    font-weight: 300;
}
/* Part boxActuCommune */
#boxActuCommune{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0px;
}
#boxActuCommune>.imgActuCommune{
    width: 100%;
    padding: 0px 10px;
    height: 25vh;
    position: relative;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
}
#boxActuCommune::before{
    position: absolute;
    content: "ACTU DE LA COMMUNE";
    width: 95%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color:var(--bs-white);
    background: rgba(217, 217, 217, 0.5);
    z-index: 2222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* part boxActu 1 */
#boxActuCom1, #boxActuCom2{
    width: 100%;
    min-height: 20VH;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px;
}
#contenairActuCom1>.imgActuCom1,#contenairActuCom2>.imgActuCom2{ 
    position: relative;
    width: 100%;
    height: 25vh;   
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 0;
}
#boxActuCom1::before,#boxActuCom2::before{
    position: absolute;
    content: "Plus d'info";
    width: 94%;
    height: 35px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.813rem;
    font-weight: 300;
    color:var(--bs-black);
    background:var(--bs-white);
    z-index: 2222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bs-bleuAction);
}
#contenairActuCom1, #contenairActuCom2{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.titleActuCom1, .titleActuCom2{
    position: absolute;
    width: 84%;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-white);
    font-size: 1.25rem;
    text-align: center;
}
.timeActuCom1, .timeActuCom2{
    width: 58px;
    height: 182px;
    background: #0D76AF;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 17px;
}
/* PART TITLE Actu ASSOS */
#boxActuAssos{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}
.contenairActuAssosStart, .contenairActuAssosEnd{
    width: 100%;
    height: 300px;
    background: rgb(132, 186, 64);
}
.contenairActuAssosStart{
    clip-path: polygon(0 0, 0 35%, 100% 0);
}
.contenairActuAssosEnd{
    clip-path: polygon(0 100%, 100% 65%, 100% 100%);
    margin-top: 35px;
}
.contenairActuAssosEnd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenairActuAssosStart>.titleAssosStart{
    color: var(--bs-white);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
 .contenairActuAssosEnd>.titleAssosEnd {
    color: #000000;
    margin-top: 280px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
} 
.btnActuAssos{
    border: 2px solid var(--bs-black);
    z-index: 5555555555;
}
/* PART ACTU ASSOS */
#contenairAssos{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxAssociation{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    margin-top: 40px;    
}
.boxAssos1>.imgAssos1,.boxAssos2>.imgAssos2,.boxAssos3>.imgAssos3{
    object-fit: cover;
    padding: 10px 0;
    width: 110px;
    height: 130px;
}
.boxAssos1>.titleAssos1,.boxAssos2>.titleAssos2,.boxAssos3>.titleAssos3{
    color: var(--bs-black);
    width: 50%;
    display: flex;
    justify-content:end;
}
.boxAssos1>.paraAssos1,.boxAssos2>.paraAssos2,.boxAssos3>.paraAssos3{
    width: 50%;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 0.875rem;
    font-family: 'Metrophobic', sans-serif;
    cursor: pointer;
}
.boxAssos1>.dateAssos1,.boxAssos2>.dateAssos2,.boxAssos3>.dateAssos3{
    width: 14%;
    display: flex;
    flex-direction: row;
    background: rgb(132, 186, 64);
    font-family: 'Metrophobic', sans-serif;
    justify-content: center;
    padding: 20px 22px;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
}
/* PART TITLE ACTU AGENDA */
#boxTitleAgenda{
    width: 100vw;
    height: 15vh;
    display: flex;
    position:relative;
    height: 12vh;
}
#boxTitleAgenda::before{
    width: 313px;
    height: 34px;
    background: rgba(132, 186, 64, 0.3);
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    content: "";
    left: -33px;
    top: 36px;
    margin-left: 75px;
}
#boxTitleAgenda>.titleAgenda, .titleManquer{
    width: 100%; font-family: 'Merriweather Sans', sans-serif;
    color: var(--bs-black);
    display: flex;
    justify-content: flex-end;
    margin-left: -20px;
}
.titleAgenda{
    font-size: 1.25rem;
}
.titleManquer{
    margin-top: 48px;
    font-weight: 300;
}
/* PART ACTU AGENDA */
#boxActuAgenda{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.contenairAgenda1,.contenairAgenda2,.contenairAgenda3{
    font-family: 'Metrophobic', sans-serif;
    color: var(--bs-white);
    font-size: 1.5rem;
    font-weight: 800;
}
.contenairAgenda1{
    width: 100%;
    display: flex;
    padding: 20px 0;
}
.contenairAgenda2, .contenairAgenda3{
    width: 100%;
    display: flex;
    justify-content:space-between;    align-items: flex-end;
    padding: 20px 0px;
}
.imgAgenda1{
    width: 235px;
    height: 180px;
    object-fit: cover;
}
.agenda1>.dateAgenda1{
    width: 130px;
    height: 180px;
    background:#0D76AF;
    text-align: center;
    padding: 70px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px;
    cursor: pointer;
}
.agenda1>.dateAgenda1:hover{
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-bleuAction);
    font-weight: 300;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 800;}
.imgAgenda2,.imgAgenda3{
    width:175px;
    height: 133px;
    object-fit: cover;
}
.boxAgenda2,.boxAgenda3{
    width: 75%;
    height: 20vh;
    display: flex;
}
.boxAgenda2>.dateAgenda2,.boxAgenda3>.dateAgenda3{
    width: 55px;
    height: 125px;
    background:#0D76AF;
    text-align: center;
    border-radius: 0px;
    display: flex;
    padding: 25px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px;
}
.boxTitleAgenda2,.boxTitleAgenda3{
    width: 50%;
    height: 100%;
    /* background: #84BA40; */
    display: flex;
    justify-content: center;
}
.boxTitleAgenda2>.paraAgenda2,.boxTitleAgenda3> .paraAgenda3{
    color: var(--bs-black);
    font-family: 'Metrophobic', sans-serif;
    font-size: 0.875rem;
    width: 30%;
    text-align: end;
    font-weight: 300;
}
.boxTitleAgenda2>.btnAgenda2,.boxTitleAgenda3>.btnAgenda3{
    width: 107px;
    height: 30px;
    background: rgba(13, 118, 175, 1);
    border: none;
    border-radius: 50px;
    color:var(--bs-white);
    font-weight: 600;
    margin-top: 100px;
    cursor: pointer;
}
.boxTitleAgenda2>.btnAgenda2:hover,.boxTitleAgenda3>.btnAgenda3:hover{
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-bleuAction);
    font-weight: 300;
}
/* PART TITLE END SECTION ACTU */
#boxTousActuAgenda{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#boxTousActuAgenda>.contenairTousActu{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#boxTousActuAgenda>.contenairTousAgenda{
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 48px;
    margin-top: -10px;
}
.titleTousActu,.titleTousAgenda{
    font-size: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
} 
.titleTousActu{
    padding: 0 60px; 
    font-weight: 300;
}
.titleTousAgenda{
   font-weight: 800;
   position: relative;
}
.titleTousAgenda::before{
    position: absolute;
    content: "";
    width: 256px;
    height: 2px;
    background:#0D76AF;
    top:25px;
    left:-50px;
}
.fa-calendar-days{
    font-size: 30px;
    color: #0d76af;
    position: relative;
}
.fa-calendar-days::before{
    position:absolute;
    content: "";
    border-radius: 50px;
    background: var(--bs-white);
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    text-align: center;
    margin: auto;
    transform: translate(0%,-50%);
    top:7px;
    left: 3px;
    background: var(--bs-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



    /* part FOOTER */
/* part footer Logo */
#groupFooterTop{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}
#groupFooterTop>.footerLogoCornod{
    width: 100%;
    height: 10vh;
    cursor: pointer;
}
#groupFooterTop > .footerContactMairie > .adressFooterContact {
    width: 45%;
    font-size: 0.875rem;
    text-align: inherit;
}
/* part Footer Contact */
#groupFooterTop>.footerContactMairie{
    width: 100%;
    height: 30vh;
    display: flex;
}
#groupFooterTop>.footerHoraireMairie{
    width: 100%;
    height: 40vh;
    display: flex;
}
.titleFooterContact, .titleFooterHoraire{
    font-size: 1.3rem;
}
.contenairHoraire {
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* part footer Horaire */
#groupFooterTop > .footerHoraireMairie > .boxMailFooter {
    height: 38%;
    display: flex;
    justify-content: center;
} 
#groupFooterTop > .boxReturnUp {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}
/* part footer buttom */
#footerBottom{
    min-height: 5vh;
}
#footerBottom>.footerMentions,
#footerBottom>.footerPolitique,#footerBottom>.footerCopyright,#footerBottom>.footerDesign{
    font-size: 0.625rem;
    font-weight: 300;
}
#footerBottom>.footerMentions{
    width: 22%;
}
#footerBottom>.footerPolitique{
    width: 27%;
}
#footerBottom>.footerCopyright{
    width: 10%;
}
#footerBottom>.footerDesign{
    width: 30%;
    font-size: 0.50rem;
}
.footerSpan{
    display: none;
}
}